
*.ts
*.js
*.map
*.mjs
node_modules/@discordjs/builders/LICENSE
*.json
*.md
node_modules/@discordjs/collection/LICENSE
node_modules/@discordjs/form-data/License
node_modules/@sindresorhus/is/license
node_modules/tslib/tslib.es6.html
node_modules/type-fest/license
node_modules/tslib/LICENSE.txt
*.txt
node_modules/@types/node/LICENSE
node_modules/@types/ws/LICENSE
node_modules/asynckit/LICENSE
node_modules/callsites/license
node_modules/combined-stream/License
node_modules/combined-stream/yarn.lock
node_modules/delayed-stream/.npmignore
node_modules/delayed-stream/License
node_modules/delayed-stream/Makefile
node_modules/discord-api-types/LICENSE
node_modules/dot-prop/license
node_modules/is-obj/license
node_modules/lodash.isequal/LICENSE
node_modules/mime-db/LICENSE
node_modules/mime-types/LICENSE
node_modules/ow/license
node_modules/ts-mixer/LICENSE
node_modules/tslib/tslib.html
node_modules/vali-date/license
node_modules/ws/LICENSE
